{% extends "base.html" %} {% block title %}Wallet{% endblock %} {% block content
    %}
    
    <div class="page-content page-container" id="profile_content">
        <div class="card m-auto w-50">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-block p-4">
                        <h6 class="fw-600">Transfer from Wallet</h6>
                        <hr class="mt-1 mb-4">
                        <form method="POST">
                            <div class="form-group">
                                <label for="amount">Balance: {{wallet.currency}} {{wallet.current_balance}}</label>
                            </div>
                            <div class="form-group">
                                <label for="receiver">Select User</label>
                                <select name="receiver" class="custom-select" required>
                                    <option>Please select an option</option>
                                    {% for user in all_users %}
                                    <option value="{{user.id}}">{{user.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount"
                                    placeholder="Enter amount" />
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 width-100">Transfer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}